# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Project specific
instance/*.db
temp/
models/*.h5
models/*.pkl
static/qr/
*.db

# VS Code
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db